<div class="container">
    <div class="card my-3">
        <div class="card-header">
            <h2>Facturacion</h2>
        </div>
        <div class="card-body">
            <app-invoice-view [id]="invoice.id" [name]="invoice.name" />
                <div class="row my-3" >
                    <div class="col">
                    <app-client-view [client]="invoice.client" />
                    </div>
                    <div class="col">
                        <app-company-view [company]="invoice.company" />
                    </div>
                </div>
                <app-list-items [items]="invoice.item" (removeEventEmitter)="removeItem($event)" />
                <app-total [total]="invoice.total" />

                <app-form-items (addItemEventEmitter)="addItem($event)" />

        </div>       
    </div>
</div>



